{{>header}}
    <p>
        <form action="/cursos/crear" method="POST">
            <label for="nombre">* Nombre Completo</label>
            <input type="text" name="nombre" value="{{ curso.nombre }}">
            <br>
            <label for="id">* ID del curso</label>
            <input type="number" name="id" value="{{ curso.id }}">
            <br>
            <label for="descripcion">* Descripción</label>
            <input type="text" name="descripcion" value="{{ curso.descripcion }}">
            <br>
            <label for="valor">* Valor</label> $   
            <input type="number" name="valor" value="{{ curso.valor }}"> COP
            <br>
            <label for="valor">Modalidad</label>    
            <select name="modalidad" id="modalidad">
                <option value=""></option>    
                <option value="virtual"{{#ifEquals curso.modalidad "virtual"}} selected{{/ifEquals}}>Virtual</option>
                <option value="presencial"{{#ifEquals curso.modalidad "presencial"}} selected{{/ifEquals}}>Presencial</option>
            </select>            
            <br>
            <label for="intensidad">Intensidad horaria</label>   
            <input type="number" name="intensidad" value="{{ curso.intensidad }}"> horas
            <br>
            <button type="submit">Crear</button>
        </form>

    </p>
{{>footer}}