{{>header}}
    <ul>
        {{#each cursos}}
            <li>
                Nombre: {{this.nombre}}<br>
                Descripción: {{this.descripcion}}<br>
                Valor: $ {{this.valor}} COP<br> 
                <a href="/interesados/curso-detalle?id={{this.id}}">Ver más</a>
                <a href="/interesados/matricular?curso_id={{this.id}}">Matricular</a><br>
            </li>
        {{/each}}
    </ul>
{{>footer}}